body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

#main_container {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#puzzle-container {
    display: flex;
    width: 300px;
    height: 300px;
    position: relative;
}

.puzzle-piece {
    width: 90px;
    height: 90px;
    position: absolute;
    border: 5px solid #000;
    box-sizing: border-box;
    line-height: 90px;
    text-align: center;
    font-size: 2em;
    background-color: #ccc;
}

.blank-tile {
    background-color: #fff;
    color: #fff;
    border: none;
}

#parity-display {
    position: absolute;
    top: 0;
    left: 400px; /* Adjust this value to move the element further to the right */
    font-size: 1.5em;
    color: #000000; /* Change the color to red */
    background-color: #ffffff; /* Add a white background */
}

#shuffle-row {
    margin-top: 110px; /* Adjust this value as needed */
    order: 2; /* Adjust this value as needed */
}

#my-shuffle-row {
    margin-top: 10px; /* Adjust this value as needed */
    order: 3; /* Adjust this value as needed */
}

#view-source{
    margin-top: 10px; /* Adjust this value as needed */
    order: 4; /* Adjust this value as needed */
}